---
layout: page
---



    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{home.title}}</title>
    </head>
<div style=" padding: 1%; height: 110px; background-color:blanchedalmond">
    <div style=" width: 45%; float: left; height: fit-content;">

        <div style=" width: 65%; float: left; height: fit-content;top: 37px; left: 140px; height:65px; padding: 1%; background-color:beige">
            <h1> UNERITX</h1>
            <p><h4 style=" width:100%; top: 37px; height:65px; padding: 1%;  color: darkgreen;"> - Unlocking the Xcelerators </h4></p>
        </div>
    </div>
</div>

 {{content}}


 <div id = footer style="border: solid; border-color: darkgreen; float:left; width: 100%; margin-bottom: 1%;margin-top: 43%;">
    <div id="foot">
        <p style="font-size: larger;">
            <center> <strong> Copyright @ XYZ. All rights reserved. </strong></center> 
        </p>
    </div>
</div>
